.post__wrapper {
  display: flex;
  width: 37.938rem;
  height: 4.5rem;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 4px rgba(186, 182, 182, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(186, 182, 182, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(186, 182, 182, 0.75);
}
.upper__wrapper {
  display: flex;
  align-items: center;
}
.first__wrapper {
}
.post__date {
  float: left;
}
.first__wrapper > svg {
  cursor: pointer;
  flex-shrink: 0;
  height: 2.5rem;
  line-height: 0;
  margin: 0 1rem 0 1.5rem;
  width: 2.5rem;
}
.second__wrapper {
  letter-spacing: 0.01785714em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3c4043;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third__wrapper > svg {
  cursor: pointer;
  flex-shrink: 0;
  height: 2.5rem;
  line-height: 0;
  margin: 0 1rem 0 1.5rem;
  width: 2.5rem;
}

.third__wrapper {
}
