.post__wrapper {
  display: flex;
  width: 37.938rem;
  height: 4.5rem;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 5px;
}
.upper__wrapper {
  display: flex;
  align-items: center;
}
.first__wrapper {
}
.post__date {
  float: left;
}
.first__wrapper > svg {
  cursor: pointer;
  flex-shrink: 0;
  height: 2.5rem;
  line-height: 0;
  margin: 0 1rem 0 1.5rem;
  width: 2.5rem;
}
.second__wrapper {
  letter-spacing: 0.01785714em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3c4043;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third__wrapper > svg {
  cursor: pointer;
  flex-shrink: 0;
  height: 2.5rem;
  line-height: 0;
  margin: 0 1rem 0 1.5rem;
  width: 2.5rem;
}

.third__wrapper {
}
.fileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.file {
  padding: 2.8rem;
  border: none;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 5px;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;
  row-gap: 2rem;
}
.formContainer {
  padding: 2rem;
  display: flex;
  width: 50vw;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}
.button:hover {
  background-color: var(--primary);
  color: var(--complementary);
  cursor: pointer;
  border: 1px solid var(--complementary);
}

.button {
  padding: 0.8rem;
  border: none;
  background-color: var(--complementary);
  color: var(--primary);
  border-radius: 5px;
  transition: all 100ms ease-in;
  border: 1px solid var(--primary);
}
.containerHomwWorkModal{
  display: grid;place-items: center;
}